.card-border {
  z-index: 0;
  position: relative;
  padding: 1rem;
  width: 300px;
  height: 375px;
  box-sizing: border-box;
  background: transparent;
  backdrop-filter: blur(40px);
  border-radius: 0px 2rem;
  background-image: radial-gradient(#2121218a, #212121cc), linear-gradient(35deg,#161249 62%,#57d2ff 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 1px 1px 3rem #57caff;
  transition: all 0.5s;
  animation: pulse_3011 3s infinite;
}

.card-bg {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0px 0.8rem;
  background: linear-gradient(346.80deg, #161249 30%, #163f5c 30%, rgba(255, 70, 84, 0) 30%, rgba(255, 70, 84, 0) 32%, #161249 32%, #161249  35%, transparent 35%);
}

strong {
  display: flex;
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  font-family: 'Open Sans Pro', sans-serif;
  font-size: 1rem;
  font-weight: 900;
  align-items: center;
  letter-spacing: 0.5rem;
}

#text-border {
  position: absolute;
  top: 15.35rem;
  left: 1.5rem;
  width: 100%;
  height: fit-content;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  background: linear-gradient(90deg,  transparent 100%, #ffffff  65%);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
}

#text-ext {
  z-index: -1;
  display: flex;
  position: absolute;
  inset: 1rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
  background: linear-gradient(346.80deg, rgb(255, 255, 255)  30%, #ffffff 30%, #ffffff 30%, rgb(255, 255, 255)  32%, rgb(255, 255, 255)  32%, rgb(255, 255, 255) 35%);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 9rem 0 0 0.5rem;
}

.mist-container {
  position: absolute;
  width: 450px;
  height: 120px;
  overflow: hidden;
  filter: blur(1rem);
  top: 60%;
  left: 0;
}

.mist {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(131, 168, 255, 0.63) 10%, rgba(255, 255, 255, 0) 50%);
  animation: mist 10s infinite both;
}

svg {
  position: absolute;
  top: 0%;
  width: 18rem;
  height: 100%;
  z-index: -2;
}

.card-border:hover {
  transform: rotateY(20deg);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes mist {
  0% {
    transform: translateX(-50%) translateY(0%) scaleY(0.7) rotate(0deg);
    opacity: 0.3;
  }

  50% {
    transform: translateX(0%) translateY(50%) scaleY(-10.3) rotate(20deg);
    opacity: 0.5;
  }

  100% {
    transform: translateX(-50%) translateY(0%) scaleY(0.7) rotate(-20deg);
    opacity: 0.3;
  }
}

@keyframes pulse_3011 {
  0% {
    box-shadow: 0 0 1rem #57caff;
  }

  70% {
    box-shadow: 0 0 2rem #57caff;
  }

  100% {
    box-shadow: 0 0 1rem #57caff;
  }
}

@keyframes slide {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}

@media screen and (max-height:680px) {
  .eventcard{
    scale: 65%;
    margin-top: -130px;
  } 
  .abc{
    margin-top: -140px;
  }
}