@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    overflow: hidden;
}

@font-face {
    font-family: 'glitch';
    src: url(../fonts/glitch_font.ttf);
}

.glitch {
    font-family: glitch;
}

@font-face {
    font-family: 'cyberpunk';
    src: url(../fonts/cyberpunk_font.ttf);
}

.cyberpunk {
    font-family: cyberpunk;
}

@font-face {
    font-family: 'gravity';
    src: url(../fonts/gravity_font.ttf);
}

.gravity {
    font-family: gravity;
}

.video {
    height: 100%;
    width: 177.77777778vh; /* 100 * 16 / 9 */
    min-width: 100%;
    min-height: 56.25vw; /* 100 * 9 / 16 */
}

.home{
    background: url(../public/assets/images/city_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.authBg{
    background: url(../public/assets/images/auth_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.eventsPageBg{
    background: url(../public/assets/images/events_page_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.Ter_Green{
    color:chartreuse
}
.Ter_Blue{
    color:cyan
}
.Ter_Gray{
    color: rgb(167, 166, 166);
}


